# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv("output_data/weather_city_file.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,Sheridan,44.8333,-106.9173,37.00,80,90,19.46,US,1609880470
1,Ikwiriri,-7.9562,38.9716,73.71,96,82,3.33,TZ,1609880633
2,Honningsvåg,70.9821,25.9704,35.60,85,75,20.80,NO,1609880633
3,Mawlaik,23.6333,94.4167,61.23,87,96,1.10,MM,1609880633
4,Sørland,67.6670,12.6934,43.74,91,100,25.21,NO,1609880633

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# configure gmaps with API key

gmaps.configure(api_key=g_key)

In [5]:
# store 'Lat' and 'Lng' into locations 

locations = weather_df[["Lat", "Lng"]].astype(float)
locations.head()

       Lat       Lng
0  44.8333 -106.9173
1  -7.9562   38.9716
2  70.9821   25.9704
3  23.6333   94.4167
4  67.6670   12.6934

In [6]:
# store 'Humidity' 

humidity = weather_df["Humidity"]
humidity.head()

0    80
1    96
2    85
3    87
4    91
Name: Humidity, dtype: int64

In [7]:
# Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
ideal_weather = weather_df.loc[(weather_df['Max Temp'] > 70) & 
                                 (weather_df['Max Temp'] < 85) & 
                                 (weather_df['Windspeed'] < 10) & 
                                 (weather_df['Cloudiness'] == 0)]
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
10,Papara,-3.9839,-38.7273,82.40,74,0,8.05,BR,1609880634
79,Saint-Joseph,-21.3667,55.6167,75.20,73,0,4.70,RE,1609880482
94,Saint-Philippe,-21.3585,55.7679,75.20,73,0,4.70,RE,1609880356
103,Raja,8.4596,25.6780,73.58,27,0,4.81,SS,1609880353
125,Mongo,12.1844,18.6930,75.00,18,0,5.55,TD,1609880651
168,Port Macquarie,-31.4333,152.9167,75.99,77,0,1.01,AU,1609880506
199,Valdivia,-39.8142,-73.2459,82.40,42,0,6.93,CL,1609880516
209,Salalah,17.0151,54.0924,73.40,27,0,6.93,OM,1609880363
245,Fomboni,-12.2800,43.7425,83.35,72,0,9.82,KM,1609880666
264,Formosa do Rio Preto,-11.0483,-45.1931,82.26,50,0,2.77,BR,1609880669
389,Xicoténcatl,23.0167,-98.8833,82.00,38,0,4.00,MX,1609880685
460,Agadez,19.7500,10.2500,76.78,18,0,9.51,NE,1609880695
477,Sokoto,13.0609,5.2390,79.02,16,0,8.79,NG,1609880698
485,Bilma,18.6853,12.9164,73.20,20,0,5.28,NE,1609880550
487,Bonthe,7.5264,-12.5050,81.14,80,0,9.46,SL,1609880699
542,Am Timan,11.0297,20.2827,75.94,18,0,7.18,TD,1609880538
544,Pobé,6.9801,2.6649,80.20,72,0,8.32,BJ,1609880707
548,Bouza,14.4229,6.0428,76.01,17,0,6.02,NE,1609880708

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Store into variable
hotel_df = ideal_weather.copy()
hotel_df

# Adding a new column for 'Hotel Name':
hotel_df['Hotel Name'] = ""
hotel_df

# Set parameters to search for hotels with 500 meters
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {
    "key": g_key,
    "radius": 5000,
    "type": "lodging",
    "keyword": "hotel"
}

for index, row in hotel_df.iterrows():    
    ideal_lat = row['Lat']
    ideal_long = row['Lng']
    params['location'] = f"{ideal_lat}, {ideal_long}"
    response = requests.get(url, params=params).json()
    results = response['results']   
# pprint(results)  

    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "-None available-"
        
        pass

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:

# Add marker layer ontop of heat map

humidity = hotel_df['Humidity']

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity, max_intensity = 250))
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))