# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [99]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [100]:
weather_df = pd.read_csv("output_data/weather_city_file.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,Sheridan,44.8333,-106.9173,37.00,80,90,19.46,US,1609880470
1,Ikwiriri,-7.9562,38.9716,73.71,96,82,3.33,TZ,1609880633
2,Honningsvåg,70.9821,25.9704,35.60,85,75,20.80,NO,1609880633
3,Mawlaik,23.6333,94.4167,61.23,87,96,1.10,MM,1609880633
4,Sørland,67.6670,12.6934,43.74,91,100,25.21,NO,1609880633

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [101]:
# configure gmaps with API key

gmaps.configure(api_key=g_key)

In [102]:
# store 'Lat' and 'Lng' into locations 

locations = weather_df[["Lat", "Lng"]].astype(float)
locations.head()

       Lat       Lng
0  44.8333 -106.9173
1  -7.9562   38.9716
2  70.9821   25.9704
3  23.6333   94.4167
4  67.6670   12.6934

In [103]:
# store 'Humidity' 

humidity = weather_df["Humidity"]
humidity.head()

0    80
1    96
2    85
3    87
4    91
Name: Humidity, dtype: int64

In [104]:
# Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=250,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [105]:
ideal_weather = weather_df.loc[(weather_df['Max Temp'] > 68) & 
                                 (weather_df['Max Temp'] < 85) & 
                                 (weather_df['Windspeed'] < 15) & 
                                 (weather_df['Cloudiness'] < 10)]
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
6,Puerto Ayora,-0.7393,-90.3518,80.60,61,0,10.29,EC,1609880432
10,Papara,-3.9839,-38.7273,82.40,74,0,8.05,BR,1609880634
48,Rikitea,-23.1203,-134.9692,76.89,76,0,13.20,PF,1609880271
64,Hilo,19.7297,-155.0900,80.60,57,1,5.82,US,1609880410
79,Saint-Joseph,-21.3667,55.6167,75.20,73,0,4.70,RE,1609880482
83,Nkongsamba,4.9547,9.9404,69.44,92,8,0.67,CM,1609880645
89,Ixtapa,20.7000,-105.2000,75.20,60,5,8.05,MX,1609880427
94,Saint-Philippe,-21.3585,55.7679,75.20,73,0,4.70,RE,1609880356
103,Raja,8.4596,25.6780,73.58,27,0,4.81,SS,1609880353
111,Bara,10.3744,10.7288,79.65,16,2,9.35,NG,1609880649
125,Mongo,12.1844,18.6930,75.00,18,0,5.55,TD,1609880651
136,Morondava,-20.2833,44.2833,81.90,69,5,3.06,MG,1609880652
148,Bucerías,20.7500,-105.3333,75.20,60,5,8.05,MX,1609880653
168,Port Macquarie,-31.4333,152.9167,75.99,77,0,1.01,AU,1609880506
172,Faanui,-16.4833,-151.7500,81.28,75,7,13.22,PF,1609880369
180,Talcahuano,-36.7167,-73.1167,69.80,56,0,14.99,CL,1609880194
181,Dawei,14.0833,98.2000,73.49,65,9,3.51,MM,1609880658
188,Bandundu Province,-3.3167,17.3667,75.92,78,7,2.13,CD,1609880659
199,Valdivia,-39.8142,-73.2459,82.40,42,0,6.93,CL,1609880516
209,Salalah,17.0151,54.0924,73.40,27,0,6.93,OM,1609880363
221,Antalaha,-14.9003,50.2788,74.17,89,3,5.46,MG,1609880663
245,Fomboni,-12.2800,43.7425,83.35,72,0,9.82,KM,1609880666
264,Formosa do Rio Preto,-11.0483,-45.1931,82.26,50,0,2.77,BR,1609880669
301,Diego de Almagro,-26.3667,-70.0500,78.94,25,0,14.23,CL,1609880488
313,Adré,13.4667,22.2000,70.47,20,0,13.78,TD,1609880676
389,Xicoténcatl,23.0167,-98.8833,82.00,38,0,4.00,MX,1609880685
429,Mocuba,-16.8392,36.9856,75.02,86,1,2.82,MZ,1609880691
430,Coyhaique,-45.5752,-72.0662,77.00,22,0,10.29,CL,1609880222
460,Agadez,19.7500,10.2500,76.78,18,0,9.51,NE,1609880695
461,Kuruman,-27.4524,23.4325,68.68,76,2,9.95,ZA,1609880695
463,Umm Hājar,13.2954,19.6966,78.49,16,1,9.71,TD,1609880696
477,Sokoto,13.0609,5.2390,79.02,16,0,8.79,NG,1609880698
485,Bilma,18.6853,12.9164,73.20,20,0,5.28,NE,1609880550
487,Bonthe,7.5264,-12.5050,81.14,80,0,9.46,SL,1609880699
542,Am Timan,11.0297,20.2827,75.94,18,0,7.18,TD,1609880538
544,Pobé,6.9801,2.6649,80.20,72,0,8.32,BJ,1609880707
548,Bouza,14.4229,6.0428,76.01,17,0,6.02,NE,1609880708
556,Vila do Maio,15.1333,-23.2167,77.00,50,0,13.87,CV,1609880709

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [106]:
hotel_df = ideal_weather[:10].copy()
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
6,Puerto Ayora,-0.7393,-90.3518,80.60,61,0,10.29,EC,1609880432
10,Papara,-3.9839,-38.7273,82.40,74,0,8.05,BR,1609880634
48,Rikitea,-23.1203,-134.9692,76.89,76,0,13.20,PF,1609880271
64,Hilo,19.7297,-155.0900,80.60,57,1,5.82,US,1609880410
79,Saint-Joseph,-21.3667,55.6167,75.20,73,0,4.70,RE,1609880482

In [114]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_radius = 10000
params = {
    "radius": hotel_radius,
    "type": "lodging",
    "keyword": "hotel", 
    "key": g_key}

for index, row in hotel_df.iterrows():
    hotel_lat = row['Lat']
    hotel_lng = row['Lng']
    params['location'] = f"{hotel_lat}, {hotel_lng}"
    hotel_resp = requests.get(base_url, params=params).json()
#     pprint(hotel_resp)
    results = hotel_resp['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "None available"
        pass

In [108]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date,Hotel Name
6,Puerto Ayora,-0.7393,-90.3518,80.60,61,0,10.29,EC,1609880432,None available
10,Papara,-3.9839,-38.7273,82.40,74,0,8.05,BR,1609880634,None available
48,Rikitea,-23.1203,-134.9692,76.89,76,0,13.20,PF,1609880271,None available
64,Hilo,19.7297,-155.0900,80.60,57,1,5.82,US,1609880410,None available
79,Saint-Joseph,-21.3667,55.6167,75.20,73,0,4.70,RE,1609880482,None available
83,Nkongsamba,4.9547,9.9404,69.44,92,8,0.67,CM,1609880645,None available
89,Ixtapa,20.7000,-105.2000,75.20,60,5,8.05,MX,1609880427,None available
94,Saint-Philippe,-21.3585,55.7679,75.20,73,0,4.70,RE,1609880356,None available
103,Raja,8.4596,25.6780,73.58,27,0,4.81,SS,1609880353,None available
111,Bara,10.3744,10.7288,79.65,16,2,9.35,NG,1609880649,None available

In [110]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [111]:

# Add marker layer ontop of heat map

humidity = hotel_df['Humidity']

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity, max_intensity = 250))
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))